
body {
  /* min-height: 100vh; */
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* background: #222; */
  /* margin-top: 2rem !important; */
}

@media screen and (max-width:700px) {
    .zeropg{
        width: 100%;
    }
}
.pages{
  overflow-x: hidden;
}


*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


#cCarousel {
  position: relative;
  max-width: 900px;
  margin: auto;
}

#cCarousel .arrow {
  position: absolute;
  top: 50%;
  display: flex;
  width: 45px;
  height: 45px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  z-index: 1;
  font-size: 26px;
  color: white;
  background: #00000072;
  cursor: pointer;
}

#cCarousel #prev {
  left: 0px;
}

#cCarousel #next {
  right: 0px;
}

#carousel-vp {
  width: 770px;
  height: 400px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  margin: auto;
}

@media (max-width: 770px) {
  #carousel-vp {
    width: 510px;
  }
}

@media (max-width: 510px) {
  #carousel-vp {
    width: 250px;
  }
}

#cCarousel #cCarousel-inner {
  display: flex;
  position: absolute;
  transition: 0.3s ease-in-out;
  gap: 10px;
  left: 0px;
}

.cCarousel-item {
  width: 250px;
  height: 365px;
  border: 2px solid white;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.cCarousel-item img {
  width: 100%;
  object-fit: cover;
  /* min-height: 246px; */
  color: white;
}

.cCarousel-item .infos {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: white;
  color: black;
}

.cCarousel-item .infos button {
  background: #222;
  padding: 10px 30px;
  border-radius: 15px;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

#img{
  /* width: 270px; */
  /* height: 250px; */
}
#img1{
  width: 146px;

}
.cd{
  position: relative !important;
  width: 18rem;
   margin-top: -24%;
    height: 18rem;
}
.cd1{
  position: relative!important;
  width: 18rem;
   margin-top: -18%; 
    height: 18rem;
    float: right !important;
}
.cd2{
  
    position: relative!important;
    width: 18rem;
     margin-top: -360px !important;
      height: 18rem;
      float: right !important;
 
}

@media screen and (max-width:1200px) {
  .cd{
    top: 1rem;
    margin: auto;

  }
  .cd1{
    display: none !important ;
   
  }
  .cd2{
    display: none !important;
  }

}



/* carousel secand */


#cCarousel1 {
  position: relative;
  max-width: 900px;
  margin: auto;
}

#cCarousel1 .arrow1 {
  position: absolute;
  top: 50%;
  display: flex;
  width: 45px;
  height: 45px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  z-index: 1;
  font-size: 26px;
  color: white;
  background: #00000072;
  cursor: pointer;
}

#cCarousel1 #prev1 {
  left: 0px;
}

#cCarousel1 #next1 {
  right: 0px;
}

#carousel-vp1 {
  width: 770px;
  height: 400px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  margin: auto;
}

@media (max-width: 770px) {
  #carousel-vp1 {
    width: 510px;
  }
}

@media (max-width: 510px) {
  #carousel-vp1 {
    width: 250px;
  }
}

#cCarousel1 #cCarousel-inner1 {
  display: flex;
  position: absolute;
  transition: 0.3s ease-in-out;
  gap: 10px;
  left: 0px;
}

.cCarousel-item1 {
  width: 251px;
  height: 365px;
  border: 2px solid white;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.cCarousel-item1 img {
  width: 100%;
  /* object-fit: cover; */
  min-height: 256px;
  color: white;
}

.cCarousel-item1 .infos {
  height: 100%;
  /* height: auto; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: white;
  color: black;
}

.cCarousel-item1 .infos button {
  background: #222;
  padding: 10px 30px;
  border-radius: 15px;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

/*-------------------- landing page3------  */
#cCarousel2 {
  position: relative;
  max-width: 900px;
  margin: auto;
}

#cCarousel2 .arrow2 {
  position: absolute;
  top: 50%;
  display: flex;
  width: 45px;
  height: 45px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  z-index: 1;
  font-size: 26px;
  color: white;
  background: #00000072;
  cursor: pointer;
}

#cCarousel2 #prev2 {
  left: 0px;
}

#cCarousel2 #next2 {
  right: 0px;
}

#carousel-vp2 {
  width: 770px;
  height: 400px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  margin: auto;
}

@media (max-width: 770px) {
  #carousel-vp2 {
    width: 510px;
  }
}

@media (max-width: 510px) {
  #carousel-vp2 {
    width: 250px;
  }
}

#cCarousel2 #cCarousel-inner2 {
  display: flex;
  position: absolute;
  transition: 0.3s ease-in-out;
  gap: 10px;
  left: 0px;
}

.cCarousel-item2 {
  width: 251px;
  height: 365px;
  border: 2px solid white;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.cCarousel-item2 img {
  width: 100%;
  /* object-fit: cover; */
  min-height: 256px;
  color: white;
}

.cCarousel-item2 .infos {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: white;
  color: black;
}

.cCarousel-item2 .infos button {
  background: #222;
  padding: 10px 30px;
  border-radius: 15px;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.fm{
  flex-direction: column;
  /* border-radius: 90%; */
  /* border: #060606; */
  background-color: #74484839;
  /* color: white; */
}
.fm button{
  background-color: red;
  width: 30% !important;
  justify-content: center !important;
  margin-right: 50% !important;
}
.fm button:hover{
  background-color: green;
}
#contecttxt{
  font-size: 1.3rem !important;
  font-family: 'poppin' !important;
  font-weight: 600;
}

.btm{
  font-size: small;
  font-family: 'Arial' !important;
  font-weight: 600;
  color: #454545 !important;
  overflow: hidden;
}
.footerbx{
  /* flex-direction: column !important; */
}